/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* CALCULATOR CSS
 * Author: Frank Chen
 * Date: 4/6/2022
 * Purpose: To make a working calculator in JavaFX, this is where we style the calculator
 */
 
.operatorButtons{
	-fx-background-color: #f89531;
}
// sets colour of our operator buttons, and changes it when it is hovered
.operatorButtons:hover{
	-fx-background-color: #F1B767;
}

.numberButtons{
	-fx-background-color: #333333;
}
// sets colour of our number buttons, and changes it when it is hovered
.numberButtons:hover{
	-fx-background-color: #696969;
}

.trinketButtons{
	-fx-background-color: #a5a8a4;
}
// sets colour of the rest of our buttons, and changes it when it is hovered
.trinketButtons:hover{
	-fx-background-color: #D2D6D0;
}


.calculatorBackground{
	-fx-background-color: #000000;
}
// sets colour of our background and the calculator's text display
.textBarBackground{
	-fx-background-color: #333333;
	-fx-text-fill: white; //changes our text so it shows
}

